@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #6E2A36;
    background: #F9F2E4;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.slick-prev:before, .slick-next:before{
    font-size: 40px!important;
}

@layer utilities {
    .center {
        @apply justify-center items-center
    }
}